{% if form %}
  <form action='/addStylist' method='post'>
    <div class="form-group">
      <label for='stylist-name'>Stylist Name</label>
      <input name='stylist-name' type='text' class='form-control'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
{% endif %}
